body {
    background-image: url("https://images.unsplash.com/photo-1532153259564-a5f24f261f51?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3540&q=80");
    text-align: center;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#jokeDisplay {
    font-size: 40;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font: bold;
    background-color: beige;
    margin-top: 20px;
}